body{
    margin: 0;
    padding: 0;
  
  }

.top-left {
  width: 80%;
  margin: 0px auto;

}
html,body{
  font-family:"Lora";
  text-align:center;
  color:#333;
}

h1{
  font-family: "Cinzel";
  font-weight: normal;
  color: #CFA057;
}

#image{
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border:7px solid #CFA057;
    border-radius: 50%;
    display: block;
    margin-top: 10%;
    margin-left: 8%;
    margin-bottom: 10%;
}
.grid-container{
  margin: 0;
  padding: 0;
}
.top-left{
  color: #CFA057;
  font-size: 1.1em;
  font-family: Lora;
  text-align: justify;
}
#img-caption{
  
  font-family: Cinzel;
  color: #CFA057;
  font-size: 20px;
}

blockquote{
  font-style: italic;
  float: right;
}

.striped-border {
    border: 1px dashed #000;
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
