html{ height:100%; }
body{ min-height:100%;height: 99%; padding:0; margin:0; position:relative; }

body{
    position: relative;
    z-index: 100;
}
  footer {
    
  }
  .item7{
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .footer_block7{
    height: 6vh;
    width: max-content;
    margin: 0px auto;
    float: center;
  }

 .new_line{
    visibility: hidden;
    display: none;
  }

    
.contacts{
    float: left;
    margin-left: 0.6em;
    font-size: 1.3em;
    margin-right: 1.5em;
    margin-bottom: 3px;
    font-family:Lora;
    color: #CFA057;
}
.contacts p{
    display: inline;
    word-wrap: break-word;
    font-family: Lora;
}

@media only screen and (max-width:900px){
    .contacts{
        margin-left: 0.6em;
        font-size: 1.1em;
        margin-right: 1.5em;
        margin-bottom: 3px;
        font-family:Lora;
        color: #CFA057;
    }
}
@media only screen and (max-width:750px){
  .contacts{
      margin-left: 0.6em;
      font-size: 1.1em;
      margin-right: 1.5em;
      margin-bottom: 3px;
      font-family:Lora;
      color: #CFA057;
  }
  .new_line{
    display: block;
    visibility: hidden;
  }
  
  .vertical_line{
    display: none;
    visibility: hidden;
  }
  .location{
    text-align: center;
  }
  
}
@media only screen and (max-width:400px){
  .contacts{
      margin-left: 0.3em;
      font-size: 0.8em;
      margin-right: 0.3em;
      margin-bottom: 3px;
      font-family:Lora;
      color: #CFA057;
  }
  .new_line{
    display: block;
    visibility: hidden;
  }
  
  .vertical_line{
    display: none;
    visibility: hidden;
  }
  .location{
    text-align: center;
  }
  
}