body{
    margin:0;
    padding:0;
  }
 

.nav_spacer_top{
  height: 8.8vh;
  display: block;
}
.nav_spacer_bottom{
  height: 9vh;
  display: block;
}

  .item1{
    color:#ce9e62;
    height: auto;
    background-color:#f5f2f1;
    margin: 0.3em;
  }
  .leadership_summit_info{
    min-height: 300px;
    padding: 5px;
  }
  .leadership_summit_info h3{
    font-family: 'Lora';
    width: max-content;
    margin: 0px auto;
    font-size: 40px;
  }
  .leadership_summit_info p{
    font-family: 'Cinzel';
    font-size: 30px;
  }

  .item7{
    color:#ce9e62;
    height: auto;
    background-color:#000000;
  }
@media only screen and (max-width:900px){
  .leadership_summit_info{
    height: 570px;
    padding: 5px;
  }
  .leadership_summit_info h3{
    font-family: 'Lora';
    width: max-content;
    margin: 0px auto;
    font-size: 35px;
  }
  .leadership_summit_info p{
    font-family: 'Cinzel';
    font-size: 25px;
    margin-bottom: 40px;
  }

}

@media only screen and (max-width:600px){
  .new_margin{
    margin-top : 22vh;
  }
}
