.header_inner_grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 30px;
  grid-auto-columns: minmax(100px, auto);
  grid-gap: 10px;

}
.xaviers_img{
  border: 2px solid black;
  padding: 10px;  
}
hr{
  height: 3px;
  color: #CFA057;
}
.leadership_summit_info{
  padding: 10px;
  margin: 10px;
}
.leadership_summit_info h3{
  color: black;
}
/*
.header_sxc{
    grid-column: 1;
    grid-row: 1;
    position: relative;

}
.header_sxc a{
    text-decoration: #fff;
    color: inherit;
    position: relative;
        
}
.header_logo {
    grid-column: 2;
    grid-row: 1;
    position: relative;
}
.header_logo a{
  position: relative;
  display: block;
  padding: 5px;
}
.header_logo span{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    max-width: 0;
    background: #fff;
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none;
}
.header_logo a:hover span{
    max-width: 100%;
    background: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.header_logo img{
  max-width: 3em;
  min-width: 1em;
  height: auto;
  position: relative; 
}
.header_contact{
    grid-column: 3;
    grid-row: 1;
    position: relative;
}

.header_sxc,.header_logo,.header_contact {
  text-align: center;
  padding: 15px 0;
  font-size: 22px;
  display: inline-block;
}
.header_sxc:hover,.header_contact:hover{
  background-color: #4e6e8d;
  color: #ce9e62;
}*/