@import url("style_block6.css");

body{
    margin:0;
    padding:0;
  }
  .item1 { grid-area: header; }
  .item2 { grid-area: about_xavier; }
  .item3 { grid-area: speakers; }
  .item4 { grid-area: workshops; }
  .item5 { grid-area: sponsers; }
  .item6 { grid-area: helps; }
  .item7 { grid-area: footer; }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-rows: 100px 1fr;
    grid-gap: 2px;
    grid-template-areas:
      'header header header header header header'
      'about_xavier about_xavier about_xavier about_xavier about_xavier about_xavier'
      'speakers speakers speakers speakers speakers speakers'
      'workshops workshops workshops workshops workshops workshops'
      'sponsers sponsers sponsers sponsers sponsers sponsers'
      'helps helps helps helps helps helps  '
      'footer footer footer footer footer footer';
    background-color: #fff;
    padding: 10px;
    
  }
  .grid-container > div {
    /* background-color: rgba(255, 255, 255, 0.8);*/
     text-align: center;
     padding: 20px 0;
     font-size: 24px;
   }

   .item1{
    color:#ce9e62;
    height: auto;
    min-height: 100px;
    background-color:#4e6e7d;
}
.item2{
    color:#c1432e;
    height: auto;
    min-height: 100px;
    background-color:#f5f2f1;
}
.item3{
    color:#ce9e62;
    height: auto;
    min-height: 100px;
    background-color:#4e6e7d;
}
.item4{
    color:#c1432e;
    height: auto;
    min-height: 100px;
    background-color:#f5f2f1;
}
.item5{
    color:#ce9e62;
    height: auto;
    min-height: 100px;
    background-color:#4e6e7d;
}
.item6{
    color:#c1432e;
    height: auto;
    min-height: 250px;
    background-color:#f5f2f1;
}
.item7{
    color:#ce9e62;
    height: auto;
    min-height: 100px;
    background-color:#4e6e7d;
}
form {
    width: 495px;
    height: 525px;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 15px;
    font-size: 15px;
    color: black;
    font-weight: normal;
    font: 700px 20 "Bookmania", serif;
    
}
.formss{
    padding: 10px;
}
form h3{
    color: black;
    font: 700 34px "Bookmania", serif;
}
#submit_btn{
    float: right;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-size: 25px;
}

   .speakers_inner_grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px;
    grid-auto-columns: minmax(100px, auto);
    grid-gap: 10px;
    
  }
  .speaker1{
        grid-column: 1;
        grid-row: 1;
    }
    .speaker2{
        grid-column: 2;
        grid-row: 1;
    }
    .speaker3{
        grid-column: 3;
        grid-row: 1;
    } 
  
  .speaker1,.speaker2,.speaker3 {   
     width: 100%;
     margin: auto ;
      background-color: rgba(133, 21, 21, 0.8);
      text-align: center;
      padding: 20px 0;
      font-size: 22px;
  }
  