.header_inner_grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 10px;
  grid-auto-columns: minmax(100px, auto);
  grid-gap: 10px;

}
.header_sxc{
    grid-column: 1;
    grid-row: 1;
    position: relative;
}
.header_sxc a{
    color: inherit;
    text-decoration: none;
    position: relative;
}
.header_logo{
      grid-column: 2;
      grid-row: 1;
      position: relative;
}
.header_logo img{
  max-width: 3em;
  min-width: 1.5em;
  height: auto;
  position: relative;
}
.header_contact{
      grid-column: 3;
      grid-row: 1;
      position: relative;
}

.header_sxc,.header_logo,.header_contact {
  text-align: center;
  padding: 20px 0;
  font-size: 22px;
}