@media only screen and (min-width:930px){
.item6{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    padding: 10px;
    grid-auto-columns: minmax(100px, auto);
    grid-gap: 1px;
    
  }

.contact_form{
    grid-column: span 3;
    grid-row: 1;
    background-color:#f5f2f1;
    min-height: 350px;

}

.in_touch{
    grid-column: span 4;
    grid-row: 1;
    background-color:rgb(255, 255, 255);
    height: 525px;
    margin: 10px;
}
.in_touch h3{
    font: 45px "Bookmania", serif;
    margin: 20px;
}
.passes_inner_class{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px;
    grid-auto-columns: minmax(100px, auto);
    grid-gap: 10px;
}
.card1{
    grid-column: 1;
    grid-row: 1;
    width: 23rem;
    height: 27rem;
}
.card2{
    grid-column: 2;
    grid-row: 1;
     width: 23rem;
    height: 27rem;
}
.in_touch .card{
    border:1px solid black;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px; 
    
}
.passes_inner_class a{
    margin: 10px auto;
}

.contact_form form{
    align-items: left;
    background-color:rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
}
.passes_inner_class .card h5{
    font: 35px "Bookmania", serif;
    
}
.passes_inner_class .card p{
    font: 25px "Bookmania", serif;
}
.passes_inner_class .card a{
    font: 25px "Bookmania", serif;
    
}
/*
#buy_ticket{
    border-radius: 10px;
    width: 150px;
    height: 40px;
    margin: 15px;
}
*/
}
@media only screen and (max-width:930px){
    .item6{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        padding: 10px;
        grid-auto-rows: minmax(200px, auto);
        grid-gap: 10px;
        
      }
    .contact_form{
        grid-column: 1;
        grid-row: 1;
        background-color:#f5f2f1;
        min-height: 350px;
        min-width: 300px;
        padding: 10px;
    
    }
    form{
        width: 400px;
       height: 500px;
    }
    .in_touch{
        grid-column: 1;
        grid-row: 2;
        background-color: aqua;
        height: 780px;
        margin: 10px;
    }

    
.passes_inner_class{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    padding: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
}
.card1{
    grid-column: 1;
    grid-row: 1;
     width: 20rem;
    height: 26rem;
}
.card2{
    grid-column: 1;
    grid-row: 2;
     width: 20rem;
    height: 26rem;
}
.in_touch .card{
    border:1px solid black;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px; 
    
}
.passes_inner_class a{
    margin: 10px auto;
}
.passes_inner_class .card h5{
    font: 35px "Bookmania", serif;
    
}
.passes_inner_class .card p{
    font: 25px "Bookmania", serif;
}
.passes_inner_class .card a{
    font: 25px "Bookmania", serif;
    
}
/*
#buy_ticket{
    border-radius: 10px;
    width: 150px;
    height: 50px;
    margin: 15px;
}
*/    
}