.bg1{
    background-color: aquamarine;
    border-bottom: 5px solid black;  
}

.bg2{
    background-color: red;
}

.bg3{
    background-color: green;
}

.bg4{
    background-color: blue;
}